// header and nav styling
.icon {
  fill: white;
  display: none;
  margin: 0.7rem;
  width: 1rem;
}

.icon-nav {
  fill: white;
  margin: 0 0.7rem;
}

.author {
  display: none;
  text-align: right;
  font-size: 1rem;
}

@media (min-width: 600px) {
  .icon {
    display: inline;
  }

  .author {
    display: inline;
  }
}

@media (min-width: 1000px) {
    .icon {
        width: 1.2rem;
      }
}

nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1000px) {
  nav a {
    flex-direction: row;
  }
}
