@use "../base/variables" as *;

// header and nav related styling (see _body.scss for header style changes by screen sizes)
header {
  box-shadow: 0.1px 0.1px 5px #b9acac;
  background-color: $light;
}

header nav a,
header nav li {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $gray;
  font-size: 0.8rem;
  font-weight: 400;
}

.darkmode {
  header nav li {
    color: $white;
  }
}

.icon {
  fill: $orange;
  width: 12vw;
  height: 12vw;
}

.icon-nav {
  fill: $light-gray;
  width: 1.2rem;
  margin: 0 0.7rem;
}

.icon-theme {
  position: fixed;
  right: 0.5rem;
  bottom: 3.5rem;
  cursor: pointer;
  .dark,
  .light {
    width: 2rem;
    height: 2rem;
  }
}

.author {
  display: none;
  fill: $gray;
}

@media (min-width: 600px) {
  header nav a,
  header nav li {
    font-size: 1rem;
  }
}
// maximize header nav on mobile
@media (max-width: 1000px) {
  header nav {
    width: 100%;
  }
}

// SNS icons
.icon-wrapper {
  display: flex;
  background-color: $white;
  border-radius: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 30vw;
  width: 70vw;
  position: fixed;
  right: 0.5rem;
  bottom: 3.1rem;
  padding: 0.5rem;
  box-shadow: 3px 3px 5px #a19999;
  border: 0.5px solid #a19999;
}

.darkmode {
  header {
    background-color: $dark;
  }
  .icon-wrapper {
    box-shadow: 3px 3px 3px $black;
  }
}

@media (min-width: 500px) {
  header nav {
    max-width: 35rem;
  }
  .icon-wrapper {
    flex-direction: column;
    top: 50%;
    right: 0.3rem;
    transform: translateY(-50%);
    height: 15rem;
    width: 2.5rem;
    border-radius: 99px;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .icon {
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 1000px) {
  header nav {
    max-width: auto;
    a {
      flex-direction: row;
      font-family: $serif;
      font-size: 1.4rem;
      font-weight: 600;
      color: $light-gray;
    }
    li {
      margin: 0 0 10vh 0;
    }
  }

  .icon-wrapper {
    flex-direction: row;
    justify-content: space-around;
    position: static;
    height: 3rem;
    width: 8rem;
    padding: 0;
  }

  .icon-theme {
    right: 1rem;
    bottom: 1rem;
    padding: 0;
  }

  .icon {
    width: 1.5rem;
  }

  .author {
    display: block;
    width: 4rem;
    margin: 1rem 0;
    // logo animation
    animation: flip 2s;
  }
}

.light {
  fill: #ffd700;
  transform: rotateY(180deg);
  border-radius: 7px;
  background-color: $dark;
}
.dark {
  fill: $gray;
  background-color: $light;
  border-radius: 7px;
}

// pop-up contact links
.on-off-links {
  cursor: pointer;
}
@media (min-width: 1000px) {
  .on-off-links {
    display: none;
  }
  .icon-nav {
    display: none;
  }
}

// highlight contact icon(on mobile) when open
.open {
  color: $orange;
  svg {
    fill: $orange;
  }
}
.darkmode {
  .open {
    color: $orange;
    svg {
      fill: $orange;
    }
  }
}

// fix z-index issues
.top {
  z-index: 60;
}
header {
  z-index: 50;
}
.icon-theme {
  z-index: 80;
}
.icon-wrapper {
  z-index: 100;
}
