// header and nav related styling (see _body.scss for header style changes by screen sizes)
header {
  box-shadow: 0.1px 0.1px 5px #b9acac;
  background-color: inherit;
}

header nav a,
header nav li {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #312f2fcc;
  font-size: 0.8rem;
  font-weight: 400;
}

.darkmode {
  header nav li {
    color: #ffffff;
  }
}

.icon {
  fill: darkorange;
  width: 10vw;
  height: 10vw;
}

.icon-nav {
  fill: #312f2fb3;
  width: 1.2rem;
  margin: 0 0.7rem;
}

.icon-theme {
  position: fixed;
  right: 0.5rem;
  bottom: 3.5rem;
  cursor: pointer;
  .dark, .light {
    width: 2rem;
    height: 2rem;
  }
}

.author {
  display: none;
  fill: #3e3b3b;
}

@media (min-width: 600px) {
  header nav a,
  header nav li {
    font-size: 1rem;
  }
}
// maximize header nav on mobile
@media (max-width: 1000px) {
  header nav {
    width: 100%;
  }
}

.icon-wrapper {
  display: flex;
  background-color: #d9ebec;
  background-color: rgb(255, 253, 253);
  border-radius: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  height: 25vw;
  width: 60vw;
  position: fixed;
  right: 0.5rem;
  bottom: 3.2rem;
  padding: 0.5rem;
  box-shadow: 5px 5px 5px #a19999;
  border: 0.1px solid rgb(188, 187, 187);
}
.darkmode {

  .icon-wrapper {
    box-shadow: 3px 5px 3px #000000
  }
}
@media (min-width: 500px) {
  header nav {
    max-width: 35rem;
  }
  .icon-wrapper {
  flex-direction: column;
    top: 50%;
    right: 0.3rem;
    transform: translateY(-50%);
    height: 15rem;
    width: 2.5rem;
    border-radius: 99px;
    justify-content: space-around;
    align-items: center;
    padding: 0;
  }
  .icon {
    width: 2rem;
    height: 2rem;
  }
}

@media (min-width: 1000px) {
  header nav {
    max-width: auto;
    a {
      flex-direction: row;
      font-size: 1.5rem;
    }
  }

  .icon-wrapper {
    flex-direction: row;
    justify-content: space-around;
    position: static;
    height: 2.5rem;
    width: 8rem;
    padding: 0;
  }

  .icon-theme {
    right: 1rem;
    bottom: 1rem;
    padding: 0;
  }

  .icon {
    width: 1.5rem;
  }

  .author {
    display: block;
    width: 4rem;
    margin: 1rem;

    // logo animation
    animation: flip 2s;
  }
}

.light {
  fill: #ffd700;
  transform: rotateY(180deg);
  border-radius: 7px;
  background-color: #312f2f;
}
.dark {
  fill: #800080;
  background-color: #ede2e2;
  border-radius: 7px;
}

// pop-up contact links
.on-off-links {
  cursor: pointer;
}
@media (min-width: 1000px) {
  .on-off-links {
    display: none;
  }
}

// highlight contact icon when open
.open {
  color: darkorange;
  svg {
    fill: darkorange;
  }
}
.darkmode {
  .open {
    color: darkorange;
    svg {
      fill: darkorange;
    }
  }
}

// fix z-index issues
.top {
  z-index: 60;
}
header {
  z-index: 50;
}
.icon-theme {
  z-index: 80;
}
.icon-wrapper {
  z-index: 100;
}
