@use "../base/variables" as *;

// other works component
.other-works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 500;
}

.other-works .active {
  display: none;
}

.other-works a {
  display: inline-block;
  margin: 1rem 0.5rem;
  padding: 0.5rem 1rem;
  text-align: center;
  color: $gray;
  border-radius: 99px;
  background: $white;
  box-shadow: 0 0 10px #bbb3b3;
}

.other-works a:hover,
.other-works a:active {
  color: $white;
  background: $magenta;
  animation: headShake 1s;
}

.darkmode {
  .other-works a {
    color: $white;
    background: $black;
  }
  .other-works a:hover,
  .other-works a:active {
    color: $gray;
    background: $white;
  }
}

@media (min-width: 1000px) {
  .other-works a {
    margin: 1rem;
  }
}

.see-other,
.other-works {
  text-align: center;
}
