.me {
  float: right;
  border-radius: 10px;
  width: 30vw;
  margin: 0.5rem;
}

@media (min-width: 500px) {
  .me {
    width: 10rem;
    margin: 1rem;
  }
}

.about h2 + p {
    margin: 3rem 0;
}

@media (min-width: 1000px) {
  .about .icon-wrapper {
    display: none;
  }
}

.icon-about {
  display: inline;
  fill: darkorange;
  width: 1.5rem;
  margin: 1.5rem;
}