.me {
  float: right;
  border-radius: 10px;
  width: 40vw;
  margin: 0.5rem;
}

@media (min-width: 500px) {
  .me {
    width: 13rem;
    margin: 1rem;
  }
}

.about h2 + p {
    margin: 3rem 0;
}

.icon-wrapper {
  display: flex;
  justify-content: center;
}

@media (min-width: 1000px) {
  .about .icon-wrapper {
    display: none;
  }
}

.icon-about {
  display: inline;
  fill: #312f2f;
  width: 1.5rem;
  margin: 1.5rem;
}

.frenchie {
  margin-bottom: 6rem;
  position: relative;
  width: calc(8rem + 5vw);
  margin: 5rem auto;
  img {
    border-radius: 50%;
  }
  figcaption {
    color: white;
    font-size: calc(1.5rem + 0.8vw);
    font-weight: 900;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
