@use "../base/variables" as *;

.above-fold {
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  // subtract the footer height on mobile
  min-height: calc(100vh - 3rem);
}

.above-fold article {
  margin: auto;
}

.above-fold h1 {
  font-family: $serif;
  font-size: calc(1.8rem + 2vw);
  font-weight: 600;
  padding: 0;
  margin-bottom: 0; //undo the typography's margin-bottom on h1s
  line-height: calc(2rem + 3vw);
  color: $gray;
  text-shadow: none;
  position: relative;
}

.above-fold h2 {
  font-size: calc(1.2rem + 0.5vw);
  font-weight: 400;
  text-align: center;
  margin: 2rem auto;
  // gradient text
  background: -webkit-linear-gradient(0deg, #00d2bd, $orange, #ff0080);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  // text animation
  opacity: 0;
  animation: fadeIn 1s 5.5s forwards;
}

@media (min-width: 600px) {
  .above-fold h2 {
    max-width: 70vw;
  }
}

@media (min-width: 1000px) {
  .above-fold {
    min-height: 100vh;
  }
}

.home p {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

@media (min-width: 500px) {
  .home p {
    padding: 0 1rem;
  }
}

.darkmode {
  .above-fold h1,
  .above-fold h2 {
    color: $white;
  }
}

// hero image section
.home-works {
  position: relative;
  img {
    display: block;
    width: 100%;
    height: calc(100vh - 3rem);
    object-fit: cover;
    object-position: 60% bottom;
  }
  // view all works button
  a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: max-content;
    color: $black;
    font-size: calc(1.3rem + 0.5vw);
    font-weight: 500;
    background: $white;
    padding: 1rem;
    border-radius: 99px;
    border: 1px solid $gray;
  }
}

@media (min-width: 1000px) {
  .home-works {
    img {
      height: 100vh;
    }
  }
}

// about section
.home-about {
  position: relative;
  color: $white;
  // centers .button-about while keeping inline-block (make only the button clickable)
  text-align: center;
  p {
    text-align: left; // keep other text-align left
  }
  img {
    display: block;
    width: 100%;
    height: calc(100vh - 3rem);
    object-fit: cover;
    filter: brightness(90%);
  }
  figure {
    margin: 0;
  }
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 80%;
    max-width: 50rem;
    // glass effect
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
  .button-about {
    display: inline-block;
    margin: 1.5rem auto;
    padding: 0.3rem 1rem;
    color: $dark;
    font-weight: 500;
    background-color: $white;
    border-radius: 99px;
    border: 1px solid $gray;
  }
}

.home {
  .home-works a:hover,
  .home-works a:active,
  .button-about:hover,
  .button-about:active {
    color: $white;
    background-color: $orange;
    border: 1px solid $orange;
  }
}

@media (min-width: 1000px) {
  .home-about {
    img {
      height: 100vh;
    }
  }
}
