.home {
  text-align: center;
  position: relative;
}

.logo-home {
  fill: #312f2f;
  width: 3rem;
  position: absolute;
  top: 2rem;
  right: -1rem;
  transform: translate(-50%, -50%);
}

.home h1 {
  font-size: calc(1.5rem + 2vw);
  font-weight: 300;
  margin: 10rem 0 0;
  padding: 0;
}
.orbs {
  display: block;
  font-size: calc(1.5rem + 2vw);
  font-weight: 300;
}

// .home h2 {
//   font-size: calc(1.5rem + 2.5vw);
//   font-weight: 300;
//   margin: 0 0 2rem;
// }

.home p {
  font-size: calc(1rem + 0.5vw);
  text-align: center;
  max-width: 70vw;
  margin: 2rem auto;
}

@media (min-width: 600px) {
  .home p {
    max-width: 60vw;
  }
}

.lotus {
  position: relative;
  margin: auto;
  z-index: 10;
  width: calc(10rem + 3vw);
  img {
    border-radius: 0% 55% 50% 70%;
  }
  figcaption {
    color: white;
    font-size: calc(1.5rem + 0.8vw);
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1000px) {
  .home {
    height: 90vh;
  }
  .home p {
    max-width: 50vw;
  }
.logo-home {
  display: none;
}
  .home-image {
    visibility: visible;
    margin-top: 5rem;
  }
}
