.home {
  text-align: center;
  position: relative;
}

.logo-home {
  width: 5rem;
  position: absolute;
  top:4rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home h1 {
  color: orangered;
  font-size: calc(1.5rem + 2vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  z-index: 10;
}

.home-image {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: top left;
  visibility: hidden;
}

@media (min-width: 600px) {
  .home-image {
    width: 100%;
    height: 75vh;
    object-fit: cover;
    object-position: top left;
  }
}

.image-container {
  position: relative;
}

.round-image {
  position: absolute;
  z-index: 10;
  img {
    width: calc(8rem + 5vw);
    border-radius: 50%;
  }
  figcaption {
    color: white;
    font-size: calc(1.5rem + 0.8vw);
    font-weight: 900;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.round-image.lotus {
  bottom: 5%;
  right: 10%;
}

@media (min-width: 1000px) {
  .home {
    height: 90vh;
  }
.home h1 {
  color: #312f2f;
}
.logo-home {
  display: none;
}
  .home-image {
    visibility: visible;
    margin-top: 5rem;
  }
}
