@use "../base/variables" as *;

// single work pages
.work-details {
  max-width: 100%;
  overflow: hidden;
  margin: auto;
  h1 {
    font-size: 1.3rem;
  }
  video {
    box-shadow: 0 0 6px #737373;
    border-radius: 10px;
  }
  h2 + figure {
    margin: 0 1rem;
  }
  img {
    box-shadow: 2px 2px 3px 1px #948a8a;
  }
}

// switch wordpress logo color by themes
.tools .wordpress-w {
  display: none;
}

// fix fadeInRight animation glitch
.project {
  max-width: 100%;
  overflow: hidden;
}

.project article {
  // project hidden before triggered on scroll
  visibility: hidden;
  padding: 1rem;
}

// alternate background colors on project page
.project article:nth-child(odd) {
  background-color: $beige;
}

// undo background styling on other works article
.project article:nth-last-child(1) {
  background-color: transparent;
  border: none;
  margin: 0;
}

.darkmode {
  .work-details {
    video {
      box-shadow: 0 0 10px 2px $black;
    }
    img {
      box-shadow: 3px 3px 3px 1px $black;
    }
  }
  .project article:nth-child(odd) {
    background-color: $black;
  }

  .project article:nth-last-child(1) {
    background-color: transparent;
    border: none;
    margin: 0;
  }
  // switch wordpress logo color by themes
  .wordpress-b {
    display: none;
  }
  .wordpress-w {
    display: initial;
  }
}

.button {
  font-weight: 700;
  border-radius: 99px;
  text-align: center;
  width: 40%;
  border: 2px solid $orange2;
  color: $orange2;
  padding: 0.5rem;
}

.button:hover,
.button:active {
  color: $white;
  background-color: $orange;
  border: 2px solid $orange;
  animation: pulse 1s;
  box-shadow: 0 0 0 2rem transparent;
}

@media (min-width: 350px) {
  .work-details h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 400px) {
  .work-details h1 {
    font-size: 1.8rem;
  }
}

// // page width
@media (min-width: 500px) {
  .work-details {
    h1 {
      font-size: 2rem;
    }
  }
  .project article {
    padding: 2rem;
  }
}

@media (min-width: 600px) {
  .work-details h1 {
    font-size: 2.5rem;
    padding: 2.2rem 0;
  }
}
@media (min-width: 700px) {
  .work-details {
    h2 + figure {
      max-width: 40rem;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1100px) {
  .project article {
    padding: 4rem calc(50vw - 33rem);
  }
  .button {
    font-size: 1.1rem;
    width: 23rem;
  }
}

.work-details figure img {
  border-radius: 10px;
}

.project h2 {
  margin: 3rem 0;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  // animate.css animation
  animation: fadeInUp 1s;
}

.icon-tool {
  margin: 0.5rem;
  width: 2.5rem;
  display: inline-block;
  border: 2px solid $orange2;
  padding: 0.5rem;
  border-radius: 10px;
}

@media (min-width: 500px) {
  .icon-tool {
    margin: 0.7rem;
    width: 3rem;
  }
}

.external-links {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem auto 1rem;
}

// link button pulse animation https://codepen.io/giana/pen/BZaGyP
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #{adjust-hue(#ff0000, 45deg)};
  }
}
