@use "../base/variables" as *;

// single work pages
.work-details {
  max-width: 95%;
  width: 100%;
  margin: auto;
  h1 {
    font-size: 1.3rem;
  }
  video {
    box-shadow: 0 0 10px 2px #737373;
    border-radius: 10px;
  }
}

// fix fadeInRight animation glitch
.project {
  max-width: 100%;
  overflow: hidden;
}

// project hidden before triggered on scroll
.project article {
  visibility: hidden;
}
// switch wordpress logo color by themes
.tools .wordpress-w {
  display: none;
}

.project article {
  margin-bottom: 3rem;
  padding: 1rem 0.7rem;
  p {
    padding: 0 1rem;
  }
}

// alternate background colors on project page
.project article:nth-child(odd) {
  background-color: #fffafa;
}

//  no background styling on other works article
.project article:nth-last-child(1) {
  background-color: transparent;
  border: none;
  margin: 0;
}

.darkmode {
  .work-details {
    video {
      box-shadow: 0 0 10px 2px $black;
    }
  }
  .project article:nth-child(odd) {
    background-color: $black;
  }

  .project article:nth-last-child(1) {
    background-color: transparent;
    border: none;
    margin: 0;
  }
  // switch wordpress logo color by themes
  .wordpress-b {
    display: none;
  }
  .wordpress-w {
    display: initial;
  }
}

@media (min-width: 350px) {
  .work-details h1 {
    font-size: 1.5rem;
  }
}
@media (min-width: 400px) {
  .work-details h1 {
    font-size: 1.8rem;
  }
}

// // page width
@media (min-width: 500px) {
  .work-details {
    max-width: 80%;
    h1 {
      font-size: 2rem;
    }
  }
}

@media (min-width: 600px) {
  .work-details h1 {
    font-size: 2.5rem;
    padding: 2.7rem 0;
  }
  .project article {
    padding: 2rem;
    p {
      padding: 0;
    }
  }
}

@media (min-width: 1000px) {
  .work-details {
    max-width: 48rem;
  }
}

.work-details figure img {
  border-radius: 10px;
}

.portfolio {
  border: 0.5px solid $beige;
}

.project h2 {
  margin: 3rem 0;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  // animate.css animation
  animation: fadeInUp 1s;
}

.icon-tool {
  margin: 0.5rem;
  width: 2.5rem;
  display: inline-block;
  border: 2px solid $magenta;
  padding: 0.5rem;
  border-radius: 10px;
}

@media (min-width: 500px) {
  .icon-tool {
    margin: 0.7rem;
    width: 3rem;
  }
}

.button {
  font-weight: 500;
  border-radius: 8px;
  font-weight: 600;
  text-align: center;
  width: 40%;
  border: 2px solid $magenta;
  color: $magenta;
  padding: 0.5rem;
}

.darkmode {
  .button {
    color: $magenta;
  }
}

.external-links {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem auto;
  a:hover,
  a:active {
    font-weight: 700;
    color: $white;
    background-color: $orange;
    border: 2px solid $orange;
    animation: pulse 1s;
    box-shadow: 0 0 0 2rem transparent;
  }
}
// pulse animation https://codepen.io/giana/pen/BZaGyP
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 #{adjust-hue(#ff0000, 45deg)};
  }
}
