@use "../base/variables" as *;

.work {
  max-height: 100%;
  overflow: hidden;
}
.work p {
  text-align: center;
  max-width: 70rem;
  padding: 0 1rem 1rem;
  margin: auto;
}

.work {
  img {
    display: block;
    border-radius: 10px 10px 0 0;
  }
  figure {
    border-radius: 10px;
    overflow: hidden;
    animation: fadeInUp 1s;
    box-shadow: 0 0 3px $darkbeige;
  }
}

.work figcaption {
  background-color: $beige;
  color: $black;
  font-weight: 500;
  padding: 0.5rem 0;
}

.work h2 {
  font-size: 1.5rem;
  font-family: $serif;
}

.work {
  figure:hover,
  figure:active,
  figure:focus {
    box-shadow: 7px 7px 10px -5px $darkbeige;
    transform: translateY(-10px);
    transition: 0.5s;
  }
}

.darkmode {
  .work {
    figure:hover,
    figure:active,
    figure:focus {
      box-shadow: 7px 7px 10px $black;
    }
    figure {
      box-shadow: 0 0 5px $black;
    }
    figcaption {
      color: $white;
      background-color: #331f0d;
    }
  }
}

.work figure {
  position: relative;
  margin: 0 0.5rem 4rem;
  figcaption {
    text-align: center;
  }
}

// image layout on different screen size
@media (min-width: 500px) {
  .work figure {
    margin: 0 2rem 4rem;
  }
}

@media (min-width: 600px) {
  .work h2 {
    font-size: 1.4rem;
  }

  .work-links {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    padding: 0 1rem;
  }

  .work figure {
    margin: 0 0 3rem;
  }
}

@media (min-width: 800px) {
  .work-links {
    padding: 0 2rem;
    gap: 3rem;
  }
}

@media (min-width: 1100px) {
  .work-links {
    padding: 0 3rem;
    gap: 4rem;
  }
}

@media (min-width: 1500px) {
  .work-links {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1600px) {
  .work {
    max-width: 90%;
    margin: auto;
  }
}
