.app {
  background-color: #312f2f;
  font-family: sans-serif;
  min-height: 100vh;
  color: white;
}

h1 {
  padding: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

// desktop grid styling
@media (min-width: 1000px) {
  .app {
    display: grid;
    grid-template-columns: 10rem auto;
    grid-template-rows: 6rem auto 10rem;
  }
}

nav {
  position: fixed;
  background-color: #7b3041;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
  
  ul {
    display: flex;
    justify-content: center;
  }
  li {
    margin: 0.5rem 1rem;
  }
}

@media (min-width: 1000px) {
  nav {
    position: fixed;
    padding-top: 5rem;
    grid-row: 1/4;
    grid-column: 1/2;
    top: 0;
    bottom: 0;
    width: 10rem;

    display: flex;
    align-items: center;
    ul {
      flex-direction: column;
      justify-content: flex-start;
    }
    li {
      margin: 0rem 0 6rem 4rem;
      font-size: 1.5rem;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1000px) {
  main {
    grid-row: 1/3;
    grid-column: 2/3;
  }

  footer {
    grid-row: 3/4;
    grid-column: 2/3;
  }
}
// end of desktop grid styling




