.app {
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 2.5rem;
  padding: 2rem;
}

@media (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  text-align: center;
}

main p {
  line-height: 2;
  font-size: calc(16px + 0.3vw);
}

a {
  text-decoration: none;
  color: #fff;
}

.external-links a:hover {
  color: #fff;
}

a:active {
  border: dotted 1px darkcyan;
}

strong {
  font-size: 1.3rem;
  color: darkorange;
}

.active {
  color: #BB2648;
  .icon-nav {
    fill: #BB2648;
  }
}

a:hover {
  color: darkcyan;
  svg {
    fill: darkcyan;
  }
  .icon-nav {
    fill: darkcyan;
  }
}

@media (min-width: 1000px) {
  .active {
    color: darkorange;
    .icon-nav {
      fill: darkorange;
    }
  }
}