.app {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #312f2f;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.2rem 0;
  margin-bottom: 3rem;
  text-shadow: 1px 2px 0 #a17474, 7px 10px 3px #c9a2a254;
}

h2 {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
}

h3 {
  font-weight: 500;
  text-align: center;
}

@media (min-width: 600px) {
  h1 {
    font-size: 2.5rem;
    padding: 2.7rem 0;
  }
}

main p {
  line-height: 1.7;
  font-size: calc(15px + 0.1vw);
}

a {
  text-decoration: none;
  color: #fff;
}

.external-links a:hover {
  color: #fff;
}

strong {
  font-size: 1.5rem;
  font-weight: 500;
  color: #bb2648;
}

.active {
  color: #bb2648;
  .icon-nav {
    fill: #bb2648;
  }
}

a:hover {
  color: #bb2648;
  svg {
    fill: darkcyan;
  }
  .icon-nav {
    fill: #bb2648;
  }
}

@media (min-width: 1000px) {
  a:hover {
    color: darkcyan;
    .icon-nav {
      fill: darkcyan;
    }
  }
}

// dark mode(put any selector you want to change with dark mode under .darkmode)
.darkmode {
  background-color: #312f2f;
  color: #fff;

  a {
    color: #fff;
  }

  .home h1,
  .home h2 {
    color: #ede2e2;
  }

  .call-to-action {
    img {
      box-shadow: -7px 10px 10px -5px #000000;
    }
  }

  .author,
  .logo-home,
  .icon-nav {
    fill: #fff;
  }

  .author:hover {
    fill: darkcyan;
  }

  .active {
    color: #bb2648;
    .icon-nav {
      fill: #bb2648;
    }
  }

  a:hover {
    color: #bb2648;
  }

  @media (min-width: 1000px) {
    a:hover {
      color: darkcyan;
      .icon-nav {
        fill: darkcyan;
      }
    }
  }
}
