// background-color
$light: #f8eded;
$dark: #312f2f;

// basic colors
$black: #000;
$white: #fff;
$gray: #3e3b3b;
$light-gray: #5f5555;
$orange: #ff8c00;
$cyan: #008b8b;
$olive: #4d4d0e;
$magenta:#bb2648;
$beige: #c0a194;

// fonts
$serif: "Georgia", serif;
$sans-serif: "Montserrat", sans-serif;
