// background-color
$light: #ebe0da;
$dark: #312f2f;

// basic colors
$black: #000;
$white: #fff;
$gray: #3e3b3b;
$orange: #ff8c00;
$orange2: #ff7700;
$yellow: #ffd700;
$cyan: #008b8b;
$pink: #ff00ff;
$beige: #F5EFEB;
$darkbeige: #836d6d;

// fonts
$serif: "Fraunces", serif;
$sans-serif: "Montserrat", sans-serif;
